# Secci√≥n C - BOPS

### Carga y limpieza de los datos (parte de la limpieza se hizo directamente en el archivo CSV)

In [12]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [13]:
online = pd.read_csv("Data/bops_online.csv")

In [14]:
print(online.head())
print(online.tail())

   id (DMA)  year  month  week  after  close   sales
0         1  2011      4    17      0      1  18,564
1         1  2011      4    18      0      1  30,883
2         1  2011      5    19      0      1  37,425
3         1  2011      5    20      0      1  32,563
4         1  2011      5    21      0      1  35,773
       id (DMA)  year  month  week  after  close  sales
10705       210  2012      2    10      1      0  9,357
10706       210  2012      3    11      1      0  3,013
10707       210  2012      3    12      1      0  3,155
10708       210  2012      3    13      1      0  2,925
10709       210  2012      3    14      1      0  3,701

In [15]:
print(online.dtypes)
print(online.describe())

id (DMA)     int64
year         int64
month        int64
week         int64
after        int64
close        int64
sales       object
dtype: object
           id (DMA)          year         month         week         after  \
count  10710.000000  10710.000000  10710.000000  10710.00000  10710.000000
mean     105.500000   2011.274510      6.450980     27.45098      0.490196
std       60.623921      0.446288      3.533278     15.42074      0.499927
min        1.000000   2011.000000      1.000000      1.00000      0.000000
25%       53.000000   2011.000000      3.000000     13.00000      0.000000
50%      105.500000   2011.000000      7.000000     28.00000      0.000000
75%      158.000000   2012.000000     10.000000     41.00000      1.000000
max      210.000000   2012.000000     12.000000     53.00000      1.000000

              close
count  10710.000000
mean       0.480952
std        0.499660
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [16]:
# Limpiando y corrigiendo el tipo de dato
online["sales"] = online["sales"].str.replace(',','')
online["sales"] = online["sales"].astype("float64")

In [17]:
print(online.dtypes)
print(online.describe())

id (DMA)      int64
year          int64
month         int64
week          int64
after         int64
close         int64
sales       float64
dtype: object
           id (DMA)          year         month         week         after  \
count  10710.000000  10710.000000  10710.000000  10710.00000  10710.000000
mean     105.500000   2011.274510      6.450980     27.45098      0.490196
std       60.623921      0.446288      3.533278     15.42074      0.499927
min        1.000000   2011.000000      1.000000      1.00000      0.000000
25%       53.000000   2011.000000      3.000000     13.00000      0.000000
50%      105.500000   2011.000000      7.000000     28.00000      0.000000
75%      158.000000   2012.000000     10.000000     41.00000      1.000000
max      210.000000   2012.000000     12.000000     53.00000      1.000000

              close          sales
count  10710.000000   10710.000000
mean       0.480952   13755.704855
std        0.499660   22411.737794
min        0.000000      63.000000
25%        0.000000    1144.000000
50%        0.000000    5567.500000
75%        1.000000   17185.750000
max        1.000000  319233.000000

In [18]:
bm = pd.read_csv("Data/bops_bm.csv")

In [19]:
print(bm.head())
print(bm.tail())

   id (store)  year  month  week  usa  after    sales
0           1  2011      4    16    0      0  118,691
1           1  2011      4    17    0      0  113,804
2           1  2011      4    18    0      0  172,104
3           1  2011      5    19    0      0  105,591
4           1  2011      5    20    0      0   94,884
      id (store)  year  month  week  usa  after   sales
4531         169  2012      3    12    1      1  56,331
4532         169  2012      3    13    1      1  74,388
4533         169  2012      3    14    1      1  67,671
4534         169  2012      4    15    1      1  50,140
4535         169  2012      4    16    1      1  75,023

In [20]:
print(bm.dtypes)
print(bm.describe())

id (store)     int64
year           int64
month          int64
week           int64
usa            int64
after          int64
sales         object
dtype: object
        id (store)         year        month         week          usa  \
count  4536.000000  4536.000000  4536.000000  4536.000000  4536.000000
mean     84.738095  2011.296296     6.314815    26.796296     0.797619
std      49.434118     0.456674     3.479549    15.228823     0.401819
min       1.000000  2011.000000     1.000000     1.000000     0.000000
25%      42.500000  2011.000000     3.000000    14.000000     1.000000
50%      84.000000  2011.000000     6.000000    26.500000     1.000000
75%     127.500000  2012.000000     9.000000    40.000000     1.000000
max     169.000000  2012.000000    12.000000    53.000000     1.000000

             after
count  4536.000000
mean      0.500000
std       0.500055
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [21]:
# Limpiando y corrigiendo el tipo de dato
bm["sales"] = bm["sales"].str.replace(',','')
bm["sales"] = bm["sales"].astype("float64")

In [22]:
print(bm.dtypes)
print(bm.describe())

id (store)      int64
year            int64
month           int64
week            int64
usa             int64
after           int64
sales         float64
dtype: object
        id (store)         year        month         week          usa  \
count  4536.000000  4536.000000  4536.000000  4536.000000  4536.000000
mean     84.738095  2011.296296     6.314815    26.796296     0.797619
std      49.434118     0.456674     3.479549    15.228823     0.401819
min       1.000000  2011.000000     1.000000     1.000000     0.000000
25%      42.500000  2011.000000     3.000000    14.000000     1.000000
50%      84.000000  2011.000000     6.000000    26.500000     1.000000
75%     127.500000  2012.000000     9.000000    40.000000     1.000000
max     169.000000  2012.000000    12.000000    53.000000     1.000000

             after          sales
count  4536.000000    4536.000000
mean      0.500000   63873.317019
std       0.500055   36531.546280
min       0.000000    2915.000000
25%       0.000000   37465.500000
50%       0.500000   58165.000000
75%       1.000000   84089.750000
max       1.000000  286827.000000

Explorando los datos

In [32]:
for column in bm.columns.values.tolist():
    print(column)
    print(bm[column].value_counts())
    print("")

id (store)
167    54
117    54
85     54
89     54
93     54
       ..
39     54
43     54
47     54
71     54
48     54
Name: id (store), Length: 84, dtype: int64

year
2011    3192
2012    1344
Name: year, dtype: int64

month
1     504
10    420
5     420
8     420
4     420
11    336
7     336
3     336
6     336
2     336
9     336
12    336
Name: month, dtype: int64

week
16    168
51     84
1      84
41     84
37     84
33     84
29     84
25     84
21     84
17     84
13     84
9      84
5      84
52     84
49     84
48     84
44     84
40     84
36     84
32     84
28     84
24     84
20     84
12     84
8      84
45     84
53     84
47     84
2      84
43     84
39     84
35     84
31     84
27     84
23     84
19     84
15     84
11     84
7      84
3      84
50     84
46     84
42     84
38     84
34     84
30     84
26     84
22     84
18     84
14     84
10     84
6      84
4      84
Name: week, dtype: int64

usa
1    3618
0     918
Name: usa, dtype: int64

after
1    2268
0    2268
Name: after, dtype: int64

sales
63127.0     2
82370.0     2
48217.0     2
34264.0     2
52297.0     2
           ..
54102.0     1
69607.0     1
125315.0    1
49996.0     1
32768.0     1
Name: sales, Length: 4466, dtype: int64

In [33]:
for column in online.columns.values.tolist():
    print(column)
    print(online[column].value_counts())
    print("")

id (DMA)
207    51
209    51
186    51
178    51
170    51
       ..
37     51
29     51
21     51
13     51
8      51
Name: id (DMA), Length: 210, dtype: int64

year
2011    7770
2012    2940
Name: year, dtype: int64

month
1     1260
5     1050
10    1050
8     1050
7      840
6      840
12     840
11     840
3      840
2      840
9      840
4      420
Name: month, dtype: int64

week
47    210
2     210
27    210
19    210
11    210
3     210
50    210
42    210
34    210
26    210
18    210
10    210
49    210
43    210
41    210
33    210
25    210
17    210
9     210
1     210
48    210
40    210
32    210
24    210
35    210
51    210
39    210
45    210
31    210
23    210
7     210
46    210
38    210
30    210
22    210
14    210
6     210
53    210
37    210
4     210
29    210
21    210
13    210
5     210
52    210
44    210
36    210
28    210
20    210
12    210
8     210
Name: week, dtype: int64

after
0    5460
1    5250
Name: after, dtype: int64

close
0    5559
1    5151
Name: close, dtype: int64

sales
373.0      13
330.0      11
334.0      11
203.0      10
193.0      10
           ..
17729.0     1
17716.0     1
13661.0     1
42627.0     1
2944.0      1
Name: sales, Length: 7857, dtype: int64